body{
    margin: 0;
    padding: 0;
    background-color: #d8dada;
}

.card.newList{
    padding-top: 20px;
    height: 75px;
    position: relative; 
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid red;

}

.inputNewList{
    position: absolute;
    left: 35px;
}

.card.bigCard{
    float: none;
    margin: 30px auto;
    height: 800px;
    width: 500px;
}

.card.bigCard #head{
    font-size: 70px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: gray
}

.card.bigCard #openHeader{
    left: 50px;
    width: 400px;
}

.card.bigCard #openHeader input{
    height: 40px;
    width: 300px;
    top:-7px;
}

.card.bigCard #openHeader button{
    top: -10px;
    height: 35px;
    width: 35px;
}

.card.body.bigCard{
    width: 450px;
    height: 600px;
    margin: auto;
}

.card.input.header{
    position: absolute;
    text-align: left;
    /* padding: 0; */
    left: 25px;
    top:40px;
    height: 5px;
    width: 200px;
    background-color:  rgba(247, 246, 243, 0.9);
   
}

header{
    margin: 0;
    padding-left: 10px;
    background-color: rgb(119, 110, 245);
    background-image: url("./img/header.jpeg");
    height: 100px;
    color: aliceblue;
    font-family: "Comic Sans MS", cursive;
    font-style: italic;
    font-size: 70px;
}

.header{
    height: 70px;
    padding-top: 15px;
    text-align: left;
}

.openHeader{
    position: absolute;
    top:20px;
}

.inputHeader{
    color: red;
    height: 30px;
    width: 190px;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    position: relative;
    left: 15px;
}

.buttonHeader{
    margin: 0;
    padding: 0;
    position: relative;
    left: 20px;
    bottom: 5px;
    padding: 5px;
    border-radius: 20px;
    outline: none;
}

.card{
    height: 400px;
    width: 250px;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
    background-color: #ebebeb;
    border-radius: 20px;
    background-image: url("./img/тетрадь.png");
}

.card h1 {
    position: relative;
    text-align: center;
    margin: 0 0 15px 0;
    height: 80px; 
    padding-bottom: 0;
    color: red;
    font-size: 50px;
    font-style: italic;
    border-radius: 20px 0 0;
    border-bottom: 2px solid red;
    overflow: auto;
    background: none;
    top: 15px;
}

.card.body{
    margin: 0 0 0px 0;
    padding: 0;
    overflow: auto;
    height: 235px;
    text-align: center;
    background: none;
}

.card.input{
    margin: 0;
    padding: 15px 0;
    text-align: right;
    vertical-align: middle;
    height: 30px;
    background: none;
    position: relative;
}

.card.input input{
    padding: 0 5px;
    margin: 0;
    height: 25px;
    width: 200px;
    background-color:  rgba(247, 246, 243, 0.9);
    border-radius: 20px;
}

.card.bigCard.input #input{
    width: 400px;
    left: 60px;
}

.card.bigCard #deleteList{
    visibility: hidden;
}

.card.bigCard.input #input input{
    width: 350px;
}

.card.body.bigCard #closeList{
    width: 400px;
    height: 150px;
    text-align: center;
}

.card.body.bigCard #openList{
    width: 400px;
    height: 150px;
}

.card.body.bigCard #openListInput{
    left: 50px;
    top: 20px;
    width: 300px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    
}

.card.body.bigCard #openListSelect{
    /* outline: 2px solid; */
    top: 90px;
    left: 50px;
    width: 300px;
}

.card.body.bigCard #openListSelect select{
    width: 200px;
    height: 30px;
    font-size: 20px;
}

.card.body.bigCard #openListSelect button{
    width: 70px;
    height: 35px;
}

.card.body.bigCard #closeListNote{
    font-size: 25px;
    width: 370px;
    height: 100px;
    left: 10px;

}

.card.input input:focus{
    background-color:   rgba(247, 246, 243, 0.9);
    outline: none;
}

.card.input input:hover{
    background-color:  rgba(247, 246, 243, 0.9);
}

.closeList{
    text-align: center;
    margin: 5px auto;
    width: 220px;
    height: 75px;
    position: relative;
    border-radius: 20px;
    background-color:  rgba(231, 207, 133, 0.6);
}

.closeList.note{
    margin: 0;
    padding: 5px auto;
    height: 50px;
    width: 200px;
    position: absolute;
    left: 7px;
    top: 20px;
    font-size: 18px;
    background: none;
    overflow: auto;
    
}

.openList{
    text-align: center;
    margin: 5px auto;
    width: 220px;
    height: 75px;
    position: relative;
    border-radius: 20px;
    background-color:  rgba(231, 207, 133, 0.6);
}

.openList input{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 5px;
    border-radius: 20px;
    padding: 2px 4px;
    outline: none;

}

.openList.select{
    height: 35px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    background: none;
}

.openList.select select{
    border-radius: 20px;
    outline: none;
}

.openList.select button{
    border-radius: 20px;
    outline: none;
}

.hand{
    cursor: pointer;
}

.hand.editList{
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("./img/pen_alt_fill.svg");
    right: 35px;
    top:2px;
}

.bigCardImg{
    width: 50px;
    height: 50px;
}

.hand.deleteList{
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("./img/x.svg");
    right: 15px;
    top:2px;
}

.hand.edit{
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url("./img/pen_alt_fill_sm.svg");
    right: 28px;
    top:2px;
}

.hand.delete{
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url("./img/x_sm.svg");
    right: 15px;
    top:2px;
}

.hand.edit:hover{
    background-image: url("./img/pen_alt_stroke_sm.svg");
}

.hand.editList:hover{
    background-image: url("./img/pen_alt_stroke.svg");
}

.hand.addList{
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url("./img/plus.png");
    left: 2px;
    top:15px;
}